# Used by drizzle migrations and other commands
DB_URL=postgres://user:password@remote-host.example.com:5432/database
DB_CERT=

# Remote DB for local dev via Hyperdrive (append ?sslmode=require for remote hosts), used by the app
CLOUDFLARE_HYPERDRIVE_LOCAL_CONNECTION_STRING_HYPERDRIVE="postgres://user:password@remote-host.example.com:5432/database?sslmode=require"
