@import "tailwindcss";
@import "tw-animate-css";

@custom-variant hover (&:hover);
@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: "Source Sans Pro", "Inter", system-ui, sans-serif;
  --color-background: oklch(0.96 0 0);
  --color-foreground: oklch(0.98 0 0 / 1);
  --color-primary: oklch(0.258 0 0);
  --color-secondary: oklch(0% 0 0);
  --color-rightblue: oklch(0.906 0.074 234.5);
  --color-leftred: oklch(0.756 0.203 23.7);
  --color-centerwhite: oklch(1 0 0);
  --color-electricblue: oklch(0.6 0.18 248.1);

  --color-vidikwhite: oklch(0.978 0.009 247.5);
  --color-vidikblack: oklch(0.258 0 0);
  --color-vidikdarkgray: oklch(0.374 0 0);
  --color-vidiklightgray: oklch(0.925 0 0);
  --color-vidikgreen: oklch(0.6548 0.211 140.04);
}

.dark {
  --color-background: oklch(28.09% 0 0);
  --color-secondary: oklch(23.93% 0 0);
  --color-foreground: oklch(0.374 0 0);
  --color-primary: oklch(0.978 0.009 247.5);
  --color-electricblue: oklch(0.6 0.18 248.1);
  --color-vidikgreen: oklch(0.4995 0.16 139.63);
}

html,
body {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: var(--font-sans);
  background-color: var(--color-background);
  color: var(--color-primary);
}

/* tailwind v4 made buttons not have pointer cursor by default for some reason, so this re-adds it */
@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

@theme {
  --font-sarabun:
    "Sarabun", ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji";
}
