@import "tailwindcss";
@import "tw-animate-css";

@custom-variant hover (&:hover);
@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: "Source Sans Pro", "Inter", system-ui, sans-serif;

  --color-surface: oklch(0.98 0 0 / 1);
  --color-surface-light: oklch(1 0 0);

  --color-surface-text: oklch(0.258 0 0);
  --color-surface-light-text: oklch(0.258 0 0);

  --color-primary: oklch(0.258 0 0);
  --color-primary-text: oklch(0.96 0 0);

  --color-secondary: oklch(
    0% 0 0
  ); /* not really used, except as an unused button variant  */

  --color-rightblue: oklch(0.906 0.074 234.5);
  --color-leftred: oklch(0.756 0.203 23.7);
  --color-centerwhite: oklch(1 0 0);
  --color-electricblue: oklch(0.6 0.18 248.1);

  --color-vidikwhite: oklch(0.978 0.009 247.5);
  --color-vidikblack: oklch(0.258 0 0);
  --color-vidikdarkgray: oklch(0.374 0 0);
  --color-vidiklightgray: oklch(0.925 0 0);
  --color-vidikgreen: oklch(0.6548 0.211 140.04);

  /*
    Convention for element specific colors:
      bg-button // --color-button
      text-button-text // --color-button-text
      border-button-border // --color-button-border
      ...
    */

  --color-header: oklch(0 0 0);

  --color-border: oklch(0.952 0 0);
  --color-ring: oklch(0.708 0 0);
}

.dark {
  --color-surface: oklch(28.09% 0 0);
  --color-surface-light: oklch(0.374 0 0);

  --color-surface-text: oklch(0.978 0.009 247.5);
  --color-surface-light-text: oklch(0.978 0.009 247.5);

  --color-secondary: oklch(23.93% 0 0);

  --color-primary: oklch(0.978 0.009 247.5);
  --color-primary-text: oklch(28.09% 0 0);

  --color-electricblue: oklch(0.6 0.18 248.1);
  --color-vidikgreen: oklch(0.4995 0.16 139.63);

  --color-header: oklch(23.93% 0 0);

  --color-border: oklch(40.54% 0.00005 271.152);
  --color-ring: oklch(0.439 0 0);
}

html,
body {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: var(--font-sans);
  background-color: var(--color-surface);
  color: var(--color-primary);
}

/* tailwind v4 made buttons not have pointer cursor by default for some reason, so this re-adds it */
@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
  * {
    @apply border-border outline-ring/50;
  }
}

@theme {
  --font-sarabun:
    "Sarabun", ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji";
}
